* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colorFlipper {
    display: flex; /* Make #colorFlipper a flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

button {
    height: 50px;
    width: 200px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}
