body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background-color: darkcyan;
    margin: 0;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
  
}

#Quote{
    text-align: center;
    font-size: large;
    font-style: italic;
    color: white;
  
}

button{
    padding: 10px;
    border-radius: 5px;

}

button:hover{
    background-color: lightpink;
}